/* Alap stílusok az egész oldalra */
body {
    font-family: Arial;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Hibabejelentés konténer stílusai */
.login-container {
    background-color: white;
    padding: 20px;
    padding-top: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    max-width: 600px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}


/* Cím stílusai */
h2 {
    font-size: 50px;
    margin: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: #333;
}

/* Űrlap stílusai */
form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Címke stílusai */
label {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #555;
}

/* Input mezők stílusai */
input[type="text"],
input[type="datetime-local"],
textarea,
select {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    transition: border-color 0.3s ease;
}

/* Hover állapot input mezők */
input[type="text"]:focus,
input[type="datetime-local"]:focus,
textarea:focus,
select:focus {
    border-color: #2196F3;
    outline: none; /* Eltávolítja az alapértelmezett fókusz keretet */
}

/* Gomb stílusai */
button {
    padding: 10px;
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px; /* Növeljük a térközt a gomb fölött */
}


/* Üzenet stílusai */
p {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}

textarea {
    resize: none; /* A méretét nem lehet kézzel állítani */
    height: auto; /* Automatikus magasság */
    min-height: 30px; /* Minimális magasság */
    max-height: 300px; /* Maximális magasság */
    overflow: auto; /* Nincs görgetősáv */
    line-height: 1.5; /* Sor magasság */
    font-family: arial;
}

/* Új stílusok a gombokhoz */
.button-container-img {
    display: flex;            /* Flexbox elrendezés */
    justify-content: space-between; /* Gombok közötti távolság kitöltése */
    margin-top: 0px;       /* Felső margó a gomboknak */
    gap: 5px;
    width: 25%;

}
.upload-button {
    background-color: #2196F3; /* Kék háttér a feltöltés gombnak */
    color: white; /* Fehér szöveg */
    border: none; /* Nincs keret */
    padding: 5px; /* Kisebb padding */
    cursor: pointer; /* Mutatóra vált a kurzor */
    font-size: 15px; /* Kisebb betűméret */
    flex: 1; /* Kitölti a rendelkezésre álló helyet */
    margin-top: 0px;
    width: 25%;
}

.upload-button:active {
    background-color: #1976D2; /* Sötétebb zöld háttér hover esetén */
}

.clear-button {
    background-color: #F44336; /* Piros háttér a törlés gombnak */
    color: white; /* Fehér szöveg */
    border: none; /* Nincs keret */
    /* padding: 5px; Kisebb padding */
    cursor: pointer; /* Mutatóra vált a kurzor */
    font-size: 15px; /* Kisebb betűméret */
    width: 50px;
}


.clear-button:hover {
    background-color: #E53935; /* Sötétebb piros háttér hover esetén */
}

.clear-button:active {
    background-color: #D32F2F; /* Sötétebb piros háttér hover esetén */
}


.button-container-send {
    display: flex;
    width: 100%;
    gap: 10px; /* Kis hézag a gombok között */
}

.button-container-send button {
    flex: 1;
    padding: 10px; /* Vékonyabb gomb */
    font-size: 22px; /* Nagyobb szöveg a gombokban */
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.send-button {
    background-color: #4CAF50; /* Zöld háttér a feltöltés gombnak */
}

.send-button:hover {
    background-color: #43A047; /* Sötétebb zöld háttér hover esetén */
}

.send-button:active {
    background-color: #388E3C; /* Sötétebb zöld háttér hover esetén */
}

.backbutton {
    background-color: #F44336;
}

.backbutton:hover {
    background-color: #E53935;
}

.backbutton:active {
    background-color: #D32F2F;
}

.dropdown {
    position:relative;
    left: 375px; bottom: 40px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 65px;
    margin-bottom: auto;
}
.checkbox-group label {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
    white-space: nowrap;
    margin-top: 5px;
}
#text{
    position: relative;
    
}
.image-preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}
.image-preview .image-container {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.delete-button {
    position: absolute;
    top: -12px;
    right: 5px;
    background-color: rgba(255, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    
}

.file-upload {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 15px;
}
.file-upload input[type="file"] {
    font-size: 100px; /* Set font size to a high value to hide the input */
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0; /* Make it invisible */
    cursor: pointer;
    width: 100%;
    height: 100%;
}
.file-upload .upload-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
    width: 30%; /* Make button full width */
    text-align: center;
}
.file-upload .upload-button:hover {
    background-color: #155093;
}