/* Alap stílusok az egész oldalra */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Bejelentkezés konténer stílusai */
.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

/* Header stílusai */
.header {
    display: flex; /* Flexbox használata */
    align-items: center; /* Középre igazítja a logót és a címet */
    justify-content: center; /* Középre igazítja vízszintesen */
    margin-bottom: 20px; /* Térköz a cím alatt */
}

.error-header {
    color: red; /* Piros szöveg, ha hiba történt */
}

/* Logó stílusai */
.logo {
    height: 60px; /* Magasság beállítása */
    margin-right: 10px; /* Térköz a logó és a cím között */
}

/* Cím stílusai */
h2 {
    font-size: 30px; /* A cím mérete */
    margin: 0; /* Margó eltávolítása */

}

/* Űrlap stílusai */
form {
    display: flex;
    flex-direction: column; /* Függőleges elrendezés */
}

/* Címke stílusai */
label {
    margin-bottom: 8px;
    font-weight: bold;
}

/* Input mezők stílusai */
input {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Gomb stílusai */
button {
    padding: 10px;
    background-color: #068edd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

/* Gomb hover állapot stílusai */
button:hover {
    background-color: #2da2e6;
    transform: translateY(-3px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Gomb aktív állapot stílusai */
button:active {
    transform: translateY(2px);
    background-color: #0b80c4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}